<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {{>header}}
    <h1>The Tempereture In {{loc}} Is Currently {{temp}}</h1>

    <h3>{{al.location.region}}</h3>
    <h3>{{al.location.country}}</h3>
    <h3>{{al.current.weather_descriptions}}</h3>
    
</body>
</html>